{% extends "base.html" %}
{% block Main %}
<div class="jumbotron">
    <div id="jumbotron_description" class="container">
        <h2>BLAST SEARCH</h2>
    </div>
</div>

<div class="container">
    {% if species %}
    <form class="form-group" method="post" enctype="multipart/form-data" action="/blast/species/{{species.code}}">
    {% else %}
    <form class="form-group" method="post" enctype="multipart/form-data" action="/blast/home">
    {% endif %}
    {% csrf_token %}
        <div class="row">
            <h3 class="page-header"><i class="fa fa-star">Base Parameters</i></h3>
            <div class="form-group col-xs-6">
                <label for="id_tool" class="control-label">{{blastform.tool.label}}</label>
                <div>
                    {{ blastform.tool }}
                    {{ blastform.tool.errors }}
                </div>
            </div>
            <div class="form-group col-xs-6">
                {% if species %}
                <label for="id_tool" class="control-label">{{blastform.database.label}}</label>
                <p class="form-control-static"><span class="latin">{{species.name}}</span></p>
                {{ blastform.database.errors }}
                <div class="sr-only">
                    {{ blastform.database }}
                </div>
                {% else %}
                <label for="id_tool" class="control-label">{{blastform.database.label}}</label>
                {{ blastform.database }}
                {{ blastform.database.errors }}
                {% endif %}
            </div>
            <div class="form-group col-xs-12">
                <label for="id_query" class="control-label">{{blastform.query.label}}</label>
                {{ blastform.query }}
                {{ blastform.query.errors }}
            </div>
            <div class="form-group col-xs-6">
                <label for="id_query_file" class="control-label">Or load it from disk</label>
                {{ blastform.query_file }}
                {{ blastform.query_file.errors }}
            </div>
            <div class="form-group col-xs-12">
                <button class="btn btn-default" type="button" id="clear_query">Clear</button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
        <div class="row">
            <h3 class="page-header"><i class="fa fa-star">Advance Settings</i></h3>
            <div class="form-group col-xs-6">
                <label for="id_evalue" class="control-label">{{blastform.evalue.label}}</label>
                {{ blastform.evalue }}
                {{ blastform.evalue.errors }}
            </div>
            <div class="form-group col-xs-6">
                <label for="id_alignments" class="control-label">{{blastform.alignments.label}}</label>
                {{ blastform.alignments }}
                {{ blastform.alignments.errors }}
            </div>
            <div class="form-group col-xs-6">
                <label for="id_outfmt" class="control-label">{{blastform.outfmt.label}}</label>
                <div>
                    {{ blastform.outfmt }}
                    {{ blastform.outfmt.errors }}
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label for="id_other" class="control-label">{{blastform.other.label}}</label>
                <div>
                    {{ blastform.other }}
                    {{ blastform.other.errors }}
                </div>
            </div>
            <div class="form-group col-xs-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}